<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
				<string>jpg</string>
				<string>png</string>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fileBookmark.icns</string>
			<key>CFBundleTypeName</key>
			<string>document.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
				<string>JPEG</string>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIconFile</key>
			<string>document.icns</string>
			<key>CFBundleURLName</key>
			<string>https URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
